.cus-button{
    background-color: #dbdede !important;
    border: 1px solid transparent;
    padding: 2px 3px;
    border-radius: 12px;
}
.cus-border-none{
    /* border: none !important; */
    border: 1px solid transparent !important;
}

.cus-secondary-button{
    background-color: #dce3e4;
    height: 40px;
    width: 15rem;
    border-radius: 4px;
    font-size: 0.9rem;
    display: inline-block;
    border: 2px solid #c7cdce;
}
